body{
margin: 0;
}

.navbar{

  background-color: red;
}

.navul{

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
  list-style-type: none;
  padding-inline-start: o;
}

p{
  color: blue;
  
}

.green{
  color: green;
}

.blue{

  color: blue;
}

.black{

  color: black;
}

